

.iw div {
	float: left;
	margin: 2px;
}
.iw:before, .iw:after {
	content: "";
	display: table;
}
.iw:after {
	clear: both;
}

#iwt {
	margin: 0;
}

#ci {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 602px; 
	height: 452px;
	border: 1px #ccc solid;
}
#ci * {
	vertical-align: middle;
}
#ci span {
    display: inline-block;
    height: 100%;
}
/* IE/Mac *//*/
#ci {
    display: block;
}
#ci span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/

.tn {
	clear: both;
}

/************
 SIMPLE PAGES
 ************/

#fakePage { position: relative; }

#sc { position: absolute; }

#sc #banner {
	width: 9em;
	position: absolute;
	background: #ddd;
	padding: 4px;
	height: 100%;
	top: 0;
	left: 0;
}

#sc #banner #logo {
	text-align: center;
	margin-bottom: 8em;
}
#sc #banner #logo span {
	color: #009;
	font-size: 80%;
	font-family: verdana,sans-serif;
	font-weight: bold;
}
#sc #banner #logo a { font-size: 200%; }

#sc #banner #update {
	font-size: xx-small;
	color: #444;
	padding: 12px;
	padding-bottom: 600px;
}

#sc #banner #prinfo {
	font-size: x-small;
	background: #ffc;
	padding: 4px;
	margin: 8px;
	margin-bottom: 3em;
}

#sc #content { margin-left: 11em;  padding: 10px; }

#sc #content p { clear: none; }

